$color1 : #2a4d69  ;
$color2 : #4b86b4 ;
$color3 : #adcbe3 ;
$color4 : #e7eff6 ;
$color5 : #63ace5 ;
$color6 : orange;
$color7 : white;
$color8 : whitesmoke;
$color9 : blanchedalmond;
$color10 : #0A192F;

$rem : 1rem;

$padding: 1rem;

$border-radius: 5px;
